<%= render 'shared/notice' %>

<%= form_with(model: line_translation, url: line_translation_review_index_path, method: :post) do |form| %>
  <% if line_translation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(line_translation.errors.count, "error") %> prohibited this line_translation from being saved:</h2>

      <ul>
        <% line_translation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col">
      <div class="card card text-dark bg-light mb-3 w-100">
        <div class="card-header">Original</div>
        <div class="card-body">
          <%= line_translation.original_text %>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card text-dark bg-light mb-3 w-100">
        <div class="card-header">Tradução</div>
        <div class="card-body">
          <%= line_translation.translated_text %>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-5 justify-content-center">
  <div class="col-2">
    <%= form.radio_button :approved, 'false', class: 'btn-check', id: 'line_translation_approved_false' %>
    <%= form.label :approved, 'Reprovado', for: 'line_translation_approved_false', class: 'btn btn-outline-secondary w-100 reprovado' %>
  </div>
  <div class="col-2">
    <%= form.radio_button :approved, 'true', class: 'btn-check', id: 'line_translation_approved_true', required: :required %>
    <%= form.label :approved, 'Aprovado', for: 'line_translation_approved_true', class: 'btn btn-outline-primary w-100 aprovado' %>
  </div>
</div>

<div class="row my-5 justify-content-center">
  <div class="col-2">
    <button type="submit" id="submit-button" class="btn btn-primary btn-large" onclick="this.disabled=false;this.form.submit();">
      Submeter avaliação
    </button>
  </div>
</div>

<% end %>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const submitButton = document.getElementById("submit-button");
    const radioButtons = document.querySelectorAll('input[name="line_translation[approved]"]');

    radioButtons.forEach(radio => {
      radio.addEventListener('change', function() {
        submitButton.disabled = false;
      });
    });
  });
</script>

