<%= form_with(model: user_file) do |form| %>
  <% if user_file.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(user_file.errors.count, "error") %> prohibited this user_file from being saved:</h2>

      <ul>
        <% user_file.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <% if user_file.attachment.attached? %>
      <%= form.label :attachment, class: "form-label" %>
      <%= link_to user_file.attachment.filename, rails_blob_path(user_file.attachment), class: "form-control" %>
    <% else %>
      <%= form.label :attachment, class: "form-label" %>
      <%= form.file_field :attachment, class: "form-control", required: true %>
    <% end %>
  </div>

  <div class="d-flex justify-content-between align-items-end">
    <%= form.submit class: "btn btn-primary ms-auto" %>
  </div>
<% end %>
