<%= render 'shared/notice' %>

<% content_for :title do %>
  <span class="title-small"><%= t('Set details') %></span>
<% end %>
<% content_for :actions do %>
  <%= link_to t('Back to list'), user_files_path, class: 'btn btn-secondary' %>
  <%= button_to t('Delete'), user_file_path(@user_file), method: :delete, data: { confirm: t('Are you sure?') }, class: 'btn btn-danger mx-1' %>
  <%= link_to t('Translation'), new_file_translation_path(user_file_id: @user_file), method: :get, class: 'btn btn-primary mx-1' %>
<% end %>

<%= render "form", user_file: @user_file, readonly_mode: true %>