<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
  <a class="navbar-brand link-clean">Sýmpan Translator</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active link-clean" aria-current="page" href="<%= line_translations_path %>"> Revisão </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%=  t('Conjunto de dados') %>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="<%= user_files_path %>"><%= t('Listagem') %></a></li>
            <li><a class="dropdown-item" href="<%= file_translations_path %>"><%= t('Traduzidos') %></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div style="height: 20px;"></div>

<script>
  function dropdownMenu () { 
      console.log("Executando função")
      const linkMenu = document.getElementById("linkMenu");
      linkMenu.classList.add("show");

      const dropdownMenu= document.getElementById("dropdownMenu");
      dropdownMenu.classList.add("show");
  } 
  
</script>