<%= render 'shared/notice' %>
<%= content_for :title, t('Review Translations') %>

<div id="pending_examples">
  <h4>Pendentes</h4>
  <div class="list-group my-3">
    <% if @pending_line_translations.any? %>
      <% @pending_line_translations.each do |line_translated| %>
        <%= render line_translated %>
      <% end %>
    </div>
    <div class="paginacao">
      <%= paginate @pending_line_translations %>
    </div>
  <% else %>
    <%= render partial: 'shared/empty_state',
               locals: {
                 show: true,
                 title: "Não há traduções pendentes",
                 description: "Quando houver, elas aparecerão aqui.",
               } %>
  <% end %>
</div>

<div class="row my-5 justify-content-center">
  <div class="col-6">
  </div>
</div>

<div id="reviewed_examples">
  <h4>Revisadas</h4>
  <div class="list-group my-3">
    <% if @reviewed_line_translations.any? %>
      <% @reviewed_line_translations.each do |line_translated| %>
        <%= render line_translated %>
      <% end %>
    </div>
    <div class="paginacao">
      <%= paginate @reviewed_line_translations %>
    </div>
  <% else %>
    <%= render partial: 'shared/empty_state',
               locals: {
                 show: true,
                 title: "Não há traduções revisadas",
                 description: "Quando houver, elas aparecerão aqui.",
               } %>
  <% end %>
</div>

<div class="row my-5 justify-content-center">
  <div class="col-6">
  </div>
</div>
