<p style="color: green"><%= notice %></p>

<%= render @line_translation %>

<div>
  <%= link_to "Edit this example", edit_example_path(@line_translation) %> |
  <%= link_to "Back to examples", examples_path %>

  <%= button_to "Destroy this example", @line_translation, method: :delete %>
</div>
