<div id="<%= dom_id example %>">
  <p>
    <strong>Approved:</strong>
    <%= example.approved %>
  </p>

  <p>
  <strong>Reviewed:</strong>
  <%= example.reviewed %>
  </p>

  <p>
    <strong>Original:</strong>
    <%= example.original %>
  </p>

  <p>
    <strong>Translation:</strong>
    <%= example.translation %>
  </p>

</div>
