<%= form.label :target_columns, t('Select Target Columns to Translate'), class: 'form-label' %>
<table class="table table-bordered">
  <thead>
  <tr class="table-dark">
    <th scope="col">Lines</th>
    <% @user_file&.first_line&.split(",")&.each_with_index do |column, index| %>
      <th scope="col">
        <%= form.check_box :target_columns, { class: 'form-check-input', multiple: true }, index, false %>
        <%= form.label :"target_columns_#{index}", column, class: 'form-check-label' %>
        </div>
      </th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @user_file&.second_to_n_line(3)&.each_with_index do |column, index| %>
    <tr>
      <th scope="row"><%= index %></th>
      <% column.split(",").each do |value| %>
        <td><%= truncate(value, length: 60) %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>