<%= form.label :target_columns, t('Select Target Columns to Translate'), class: 'form-label' %>
<table class="table table-bordered">
  <thead>
  <tr class="table-dark">
    <th scope="col">#</th>
    <% file_header(@user_file)&.each_with_index do |column, index| %>
      <th scope="col">
        <%= form.check_box :target_columns, { class: 'form-check-input', multiple: true }, index, false %>
        <%= form.label :"target_columns_#{index}", column, class: 'form-check-label' %>
        </div>
      </th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% file_rows(@user_file).each_with_index do |row, index| %>
    <tr>
      <th scope="row"><%= index %></th>
      <% row.each do |column| %>
        <td><%= truncate(column, length: 60) %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>