<%= form_with(model: file_translation) do |form| %>
  <% if file_translation.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(file_translation.errors.count, "error") %> prohibited this file_translation from being saved:</h2>

      <ul>
        <% file_translation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :original_file_id, t('Target File'), class: "form-label" %>
    <%= form.select :original_file_id,
                    UserFile.all.map { |f| [f.name, f.id] },
                    { value: @user_file.try(:id), selected: @user_file.try(:id) },
                    class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.label :source_language_id, t('Source Language'), class: "form-label" %>
    <%= form.select :source_language_id,
                    Language.all.map { |l| [l.name, l.id] },
                    { value: Language.first.id, selected: Language.first.id},
                    class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.label :target_language_id, t('Target Language'), class: "form-label" %>
    <%= form.select :target_language_id,
                    Language.all.map { |l| [l.name, l.id] },
                    { value: Language.last.id, selected: Language.last.id},
                    class: "form-select" %>
  </div>

  <%= render partial: 'column_selector',
             locals: { form: form, user_file: @user_file }
  %>

  <% if file_translation.new_record? %>
    <div class="d-flex justify-content-between align-items-end">
      <%= form.submit "Traduzir arquivo", class: "btn btn-primary ms-auto" %>
    </div>
  <% end %>
<% end %>
